* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    direction: rtl;
    font-family: Yekan;
    font-size: 15px;
    color: #666;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
}

.transition-effect {
    transition: .5s;
}

.clearfix {
    clear: both;
}

.container-fluid {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row:after {
    content: '';
    clear: both;
    display: block;
}

.form-group {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 2%;
}

.form-group-half {
    width: 50%;
    float: right;
    margin-bottom: 10px;
    padding: 0 2%;
}

.form-group-third {
    width: 33.3333%;
    float: right;
    margin-bottom: 10px;
    padding: 0 2%;
}

.form-group-fourth {
    width: 25%;
    float: right;
    margin-bottom: 10px;
    padding: 0 2%;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #717171;
    opacity: .8;
    z-index: 9999;
    text-align: center;
    display: none;
}

.loading img {
    max-width: 100%;
    margin: 350px 0;
}

.alert-box {
    background-color: #ff4343;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 2%;
}

.alert-box a {
    width: 100px;
    display: block;
    line-height: 35px;
    background-color: #43a047;
    color: #fff;
    text-decoration: none;
    margin: 10px auto 0 auto;
}

.alert-box a:hover {
    background-color: #2e7d32;
}

.pick-flight-error {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background-color: red;
}

@font-face {
    font-family: Yekan;
    src: url(../fonts/Yekan.woff);
}

@font-face {
    font-family: LatoMedium;
    src: url(../fonts/LatoMedium.ttf);
}

/*======== let's begin (entry-page) ========*/

.entry-bg {
    background: url(../images/entry-bg.jpg) no-repeat fixed;
    background-size: cover;
    padding-top: 10%;
}

.entry-box {
    max-width: 385px;
    margin: 0 auto;
    background: url(../images/box-bg.png) repeat;
}

.entry-box header {
    padding: 5px 15px;
    color: #fff;
    background-color: #004c94;
    position: relative;
}

.entry-box form {
    padding: 10px;
}

.entry-box form label {
    margin-right: 5px;
    color: #fff;
}

.entry-box form input[type='text'] {
    width: 100%;
    line-height: 35px;
    border: 1px solid #a7a7a7;
    padding: 0 10px;  
    box-shadow: inset 0 3px 8px #d8d8d8;
    text-align: center;
}

.entry-box form input[type='text']:focus {
    border-color: #43a047;
}

.entry-box form input[type='text']::-webkit-input-placeholder {
    text-align: right;
    font-size: 11px;
}

.captcha {
    height: 60px;
    border: 1px solid #c7c7c7;
    background: url(../images/captcha-bg.png) repeat;
}

#public-login-btn {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    line-height: 35px;
    background-color: #43a047;
    color: #fff;
}

#public-login-btn:hover {
    background-color: #2e7d32;
}

#member-login-btn {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    line-height: 35px;
    background-color: #43a047;
    color: #fff;
}

#member-login-btn:hover {
    background-color: #2e7d32;
}

#public-login-auth-btn {
    color: #fff;
}

#member-login-auth-btn {
    color: #fff;
}

.location-icon {
    width: 30px;
    float: left;
    cursor: pointer;
}

.address {
    font-size: 11px;
    text-align: center;
    border-top: 1px solid #fff;
    color: #fff;
}

/*======== let's begin (result-page) ========*/

.main-header-box {
    width: 100%;
    height: 100px;
}

.main-header {
    height: 100px;
    background: url(../images/main-header-bg.png);
}

.mohajeri-logo {
    max-width: 284px;
    margin: 5px 50px;
}

.search-box {
    width: 950px;
    box-sizing: border-box;
    padding: 2% 5%;
    float: right;
}

.image-cover {
    background: url(../images/entry-bg.jpg) no-repeat fixed;
    background-size: cover;
}

.search-box ul {
    list-style: none;
}

.search-box ul li {
    display: inline-block;
    padding: 12px;
    cursor: pointer;
    color: #fff;
}

.search-box ul li.active {
    background: url(../images/box-bg.png) repeat;
    color: #f79420;
}

.search-form {
    padding: 10px;
    background: url(../images/box-bg.png) repeat;
}

.search-form  label {
    color: #fff;
}

.search-form input[type='radio'] {
    margin-left: 20px;
}

.search-form input[type='text'] {
    width: 100%;
    line-height: 35px;
    border: 1px solid #a7a7a7;
    padding: 0 10px;  
    box-shadow: inset 0 3px 8px #d8d8d8;
    text-align: right;
}

.search-form input[type='text']:focus {
    border-color: #43a047;
}

.search-form input::-webkit-input-placeholder {
    color: red;
}

.search-form select:focus {
    border-color: #43a047;
}

select option {
    margin-top: 10px !important;
}

.search-form select {
    width: 100%;
    height: 37px;
    border: 1px solid #a7a7a7;
    padding: 0 10px;  
    box-shadow: inset 0 3px 8px #d8d8d8;
    text-align: right;
}

.search-form a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 35px;
    margin-top: 10px;
    line-height: 35px;
    background-color: #43a047;
    color: #fff;
}

.search-form a:hover {
    background-color: #2e7d32;
}

.result-show {
    width: 100%;
    background-color: #eee;
}

.result-show header {
    width: 100%;
    height: 50px;
    padding-right: 20px;
    line-height: 50px;
    color: #fff;
    background-color: #004c94;
}

.result-show table {
    width: 100%;
    border: 1px solid #d7d7d7;
    text-align: center;
    border-spacing: 0;
    background: #eeeeee;
}

.result-show table tr:nth-last-of-type(even) {
    background-color: #d7d7d7
}

.charter-result-submit {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    background-color: #0a9400;
}

.charter-result-submit:hover {
    background-color: #2e7d32;
}

.searching-btn {
    position: relative;
}

.searching-btn img {
    width: 38px;
    position: absolute;
    padding-right: 5px;
}

.liaison-result-submit {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    background-color: #0a9400;
}

.liaison-result-submit:hover {
    background-color: #2e7d32;
}

.amadeus-result-submit {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    background-color: #0a9400;
}

.amadeus-result-submit:hover {
    background-color: #2e7d32;
}

.accordion {
    cursor: pointer;
}

.tour {
    background: #eeeeee;
}

.tour ul {
    list-style: none;
    text-align: center;
}

.tour ul li {
    width: 15%;
    margin: 40px 4%;
    display: inline-block;
}

.tour ul li img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0px 20px #585858;
    opacity: .8;
    transition: 2s;
}

.tour ul li img:hover {
    opacity: 1;
    transition: 1s;
}

.tour ul li a {
    text-decoration: none;
}

.google-map {
    width: 100%;
    height: 350px;
}

.full-address {
    padding: 10px;
    color: #fff;
}

.address-box {
    width: 90%;
    box-sizing: border-box;
    padding: 20px;
    margin: 2% auto;
    background: url(../images/box-bg.png);
}

.main-footer {
    width: 100%;
    line-height: 40px;
    background-color: #004c94;
    color: #fff;
    text-align: center;
    font-size: 11px;
}

/*======== let's begin (reserve-page) ========*/

.reserve-summery {
    width: 30%;
    float: right;
    box-sizing: border-box;
    padding: 2% 5% 2% 2%;
}

.reserve-summery header {
    background-color: #004c94;
    color: #fff;
    padding: 5px 20px;
}

.reserve-summery ul {
    list-style: none;
    padding: 14px 30px 10px 10px;
    box-sizing: border-box;
    background: url(../images/box-bg.png) repeat;
}

.reserve-summery ul li {
    color: #fff;
}

.reserve-btn {
    display: block;
    width: 100%;
    height: 37px; 
    background-color: #43a047;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

.reserve-btn:hover {
    background-color: #2e7d32;
}

.passenger-info {
    width: 70%;
    float: right;
    box-sizing: border-box;
    padding: 2% 2% 2% 5%;
}

.passenger-info > header {
    color: #fff;
    background-color: #004c94;
    padding: 5px 20px;
}

.people-header {
    background: linear-gradient(to left, #004c94, transparent, transparent);
    color: #fff;
    padding: 5px 20px;
    margin: 10px 0;
}

.passenger-form {
    width: 100%;
    padding: 10px;
    background: url(../images/box-bg.png) repeat;
}

.passenger-form label{
    width: 100%;
    display: block;
    color: #fff;
}

.passenger-form input {
    width: 100%;
    line-height: 35px;
    border: 1px solid #a7a7a7;
    padding: 0 10px;
    box-shadow: inset 0 3px 8px #d8d8d8;
    text-align: right;
}

.passenger-form input[type="submit"] {
    text-align: center;
    background-color: #0a9400;
    border-color: #2e7d32;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
}

.passenger-form select {
    width: 100%;
    height: 37px;
    border: 1px solid #a7a7a7;
    padding: 0 10px;
    box-shadow: inset 0 3px 8px #d8d8d8;
    text-align: right;
}

.passenger-number {
    list-style: none;
}

.passenger-number li {
    border-bottom: 1px dotted #fff;
}

.passenger-number li:last-child {
    border-bottom: none;
}

.passenger-extra-info {
    width: 100%;
}

.payment {
    width: 100%;
}

.payment header {
    padding: 20px;
    text-align: center;
    color: red;
    font-size: 16px;
}

.payment ul {
    list-style: none;
    text-align: center;
    padding-bottom: 20px;
}

.payment ul li {
    display: inline-block;
}

.payment ul li img {
    width: 150px;
}

.credit-form {
    max-width: 450px;
    background: url(../images/box-bg.png) repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 20;
}

.credit-form input::-webkit-input-placeholder {
    color: red;
}

.passenger-form input::-webkit-input-placeholder {
    color: red;
}

.credit-form header {
    background-color: #004c94;
    color: #fff;
    padding: 5px 15px;
}

.credit-form input {
    width: 100%;
}

.credit-form label {
    color: #fff;
}

.credit-form input[type="submit"] {
    background-color: #43a047;
    cursor: pointer;
    color: #fff;
}

.credit-form input[type="submit"]:hover {
    background-color: #2e7d32;
}

.page-color {
    background-color: #000;
    opacity: .8;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

/*======== let's begin (admin-page) ========*/

.admin-bg {
    background: url("../images/admin-bg.jpg") no-repeat fixed;
    background-size: cover;
}

.admin-header {
    width: 100%;
    height: 100px;
    background: url("../images/box-bg2.png") repeat;
}

.admin-menu {
    margin-right: 5%;
}

.admin-menu ul {
    height: 100px;
    list-style: none;
    display: table-cell;
    vertical-align: middle;
}

.admin-menu ul li {
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.admin-menu ul li a {
    text-decoration: none;
    color: #fff;
}

.admin-menu ul li:hover {
    background-color: #8a3b01;
    transition: 0.5s;
}

.admin-charter-box {
    width: 80%;
    margin: 5% auto;
    background: url("../images/box-bg2.png") repeat;
}

.admin-charter-box header {
    color: #fff;
    padding-right: 2%;
    background-color: #8a3b01;
    line-height: 50px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

.country-record {
    padding: 10px;
}

.city-record {
    padding: 10px;
}

.admin-charter-box label {
    color: #fff;
}

.admin-charter-box input[type="text"] {
    width: 100%;
    line-height: 35px;
    border: 1px solid #a7a7a7;
    padding: 0 10px;
    box-shadow: inset 0 3px 8px #d8d8d8;
}

.admin-charter-box input:focus {
    border-color: #43a047;
}

.admin-charter-box select {
    width: 100%;
    line-height: 35px;
    border: 1px solid #a7a7a7;
    padding: 0 10px;
    box-shadow: inset 0 3px 8px #d8d8d8;
}

.admin-charter-box select:focus {
    border-color: #43a047;
}

.admin-charter-box a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 35px;
    background-color: #43a047;
    margin-top: 10px;
}

.admin-charter-box a:hover {
    background-color: #2e7d32;
}

.flight-record {
    padding: 10px;
}

.path-record {
    padding: 10px;
}

.admin-tbl-box {
    height: 200px;
    padding: 0 2%;
    overflow-y: auto;
}

.admin-tbl {
    width: 100%;
    color: #fff;
    overflow: hidden;
}

.admin-tbl th {
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.admin-tbl a {
    margin-top: 0 !important;
}

.admin-tbl td {
    text-align: center;
    color: #fff;
}

.admin-entry {
    width: 300px;
    height: 35px;
    text-align: center;
    background-color: darkblue;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.admin-entry a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 992px) {

    .form-group {
        width: 100%; 
        padding: 0;
    }

    .form-group-half {
        width: 100%;
        padding: 0;
    }

    .form-group-third {
        width: 100%;
        padding: 0;
    }

    .form-group-fourth {
        width: 100%;
        padding: 0;
    }

    .container {
        width: 100%;
    }

    .entry-box {
        margin: 50px auto 0 auto;
    }

    .search-box {
        width: 100%;
        padding: 0;
    }

    .address-box {
        width: 100%;
        margin: 0;
    }

    .agency-filter {
        width: 100%;
        padding: 0;
    }

    .tour ul li {
        width: 30%;
        margin-top: 20px;
        padding: 1%;
        display: inline-block;
    }

    .tour ul li img {
        opacity: 1;
    }

    .reserve-summery {
        width: 100%;
        padding: 0;
    }

    .passenger-info {
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }

    .admin-charter-box {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .mohajeri-logo {
        margin: 5px 5px 5px 0;
    }

    .search-box ul li {
        padding: 12px;
        font-size: 12px;
    }

    .result-show thead {
        position: absolute;
        top: -9999px;
    }

    .result-show table, thead, tbody, tr, th, td {
        display: block;
    }

    .result-show table td:before {
        float: right;
        text-align: right;
        padding-right: 5px;
        width: 100px;
    }

    .result-show table td {
        border-bottom: 1px solid #d7d7d7;
    }

    .result-show thead {
        position: absolute;
        top: -9999px;
    }

    .result-show table, thead, tbody, tr, th, td {
        display: block;
    }

    .result-show table td {
        text-align: center;
    }

    .result-show table td:before {
        float: right;
        text-align: right;
        padding-right: 5px;
        width: 160px;
    }

    #liaison-result-show-form table td:nth-last-of-type(11):before {
        content: 'انتخاب';
    }

    #liaison-result-show-form table td:nth-last-of-type(10):before {
        content: 'مبدا';
    }

    #liaison-result-show-form table td:nth-last-of-type(9):before {
        content: 'مقصد';
    }

    #liaison-result-show-form table td:nth-last-of-type(8):before {
        content: 'ایرلاین';
    }

    #liaison-result-show-form table td:nth-last-of-type(7):before {
        content: 'شماره پرواز';
    }

    #liaison-result-show-form table td:nth-last-of-type(6):before {
        content: 'ساعت حرکت';
    }

    #liaison-result-show-form table td:nth-last-of-type(5):before {
        content: 'ساعت فرود';
    }

    #liaison-result-show-form table td:nth-last-of-type(4):before {
        content: 'ظرفیت';
    }

    #liaison-result-show-form table td:nth-last-of-type(3):before {
        content: 'کلاس نرخی';
    }

    #liaison-result-show-form table td:nth-last-of-type(2):before {
        content: 'قیمت کل (تومان)';
    }

    #liaison-result-show-form table td:nth-last-of-type(1):before {
        content:'قیمت با کمیسیون (تومان)';
    }

    #liaison-result-show-form table td {
        border-bottom: 1px solid #959595;
    }

    #charter-result-show-form table td:nth-last-of-type(10):before {
        content: 'انتخاب';
    }

    #charter-result-show-form table td:nth-last-of-type(9):before {
        content: 'مبدا';
    }

    #charter-result-show-form table td:nth-last-of-type(8):before {
        content: 'مقصد';
    }

    #charter-result-show-form table td:nth-last-of-type(7):before {
        content: 'ایرلاین';
    }

    #charter-result-show-form table td:nth-last-of-type(6):before {
        content: 'شماره پرواز';
    }

    #charter-result-show-form table td:nth-last-of-type(5):before {
        content: 'ساعت حرکت';
    }

    #charter-result-show-form table td:nth-last-of-type(4):before {
        content: 'ساعت فرود';
    }

    #charter-result-show-form table td:nth-last-of-type(3):before {
        content: 'ظرفیت';
    }

    #charter-result-show-form table td:nth-last-of-type(2):before {
        content: 'کلاس نرخی';
    }

    #charter-result-show-form table td:nth-last-of-type(1):before {
        content: 'قیمت کل (تومان)';
    }

    #charter-result-show-form table td {
        border-bottom: 1px solid #959595;
    }

    #amadeus-result-show-form table td:nth-last-of-type(8):before {
        content: 'مبدا';
    }

    #amadeus-result-show-form table td:nth-last-of-type(7):before {
        content: 'مقصد';
    }

    #amadeus-result-show-form table td:nth-last-of-type(6):before {
        content: 'ایرلاین';
    }

    #amadeus-result-show-form table td:nth-last-of-type(5):before {
        content: 'شماره پرواز';
    }

    #amadeus-result-show-form table td:nth-last-of-type(4):before {
        content: 'ساعت حرکت';
    }

    #amadeus-result-show-form table td:nth-last-of-type(3):before {
        content: 'ساعت فرود';
    }

    #amadeus-result-show-form table td:nth-last-of-type(2):before {
        content: 'ظرفیت';
    }

    #amadeus-result-show-form table td:nth-last-of-type(1):before {
        content: 'کلاس نرخی';
    }

    #amadeus-result-show-form table td {
        border-bottom: 1px solid #959595;
    }

    .tour ul li {
        width: 50%;
        margin-top: 20px;
        padding: 1%;
        display: inline-block;
    }

    .tour ul li img {
        opacity: 1;
    }

}